/* navigation and menus */

nav{
	text-transform: uppercase;
	text-align: center;
}

.row .navigation-primary{
	margin-left: 0;
}

.navigation-primary{
	font-size: 1.25em;
	margin: -1% 0 -2.5% 0;
	display: block;
	min-height: 53em;
	min-width: 15em;
	/*overflow: hidden;*/
	float: left;
}

.navigation-primary h1{
	margin: 7% 0 10% 0;
	padding: 10% 2% 2% 2%;
	text-transform: none;
}

.navigation-primary hr{
	margin: 8% 12% 0 12%;
}

.navigation-primary ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation-primary ul li{
	display: block;
	margin: 0;
	padding: 0 3% 0 5%;
	position: relative;
	text-align: left;
}

.navigation-primary > ul > li > a{
  padding: 10% 11%;
  letter-spacing: 0.15em;
}

.navigation-primary ul li a{
  display: block;
  line-height: 1em;
  width: 10em;
  text-decoration: none;
  letter-spacing: 0.08em;
}

/* submenu */

.navigation-primary ul ul{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	/* starts off with opacity 0 to allow for fade-in */
	opacity: 0;
	filter: alpha(opacity=0);

	min-width: 100%;
	text-align: left;
}

.navigation-primary ul li:active ul{
  height: auto;
  overflow: auto;
}

.submenu #submenu li a{
	padding: 7%;
}

#arrowdown{
	height: 0.75em;
	vertical-align: bottom;
	margin: 1% 0 1% 1em;
}