/*
Colors
=======
*/

body{
  color: #1c1f24;
}

.App {
  background: url('../images/landingpage-min1.jpg') repeat fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
}

.header{
  /*background-color: rgba(0, 0, 0, 0.2);*/
  margin: 0;
}

h1{
  color: white;
  padding: 0 3%;
}

h4 {
  color: white;
}

img{

}

.row .main-content{
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
}

.navigation-primary{
  background-color: rgba(0, 0, 0, 0.7);
}

.navigation-primary ul li a{
  color: white;
}

.navigation-primary ul ul li{
}

.navigation-primary ul ul li a{
  color: white;
}

.navigation-primary ul ul li a:hover{
  color: white;
}

.navigation-primary ul ul li a:active{
  color: white;
}

.navigation-primary ul > li:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-primary ul > li:active{
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-primary #current{
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 500px) {
  .App {
    background: url('../images/landingmobile.jpg') repeat fixed;
    -webkit-background-size: 550px;
      -moz-background-size: 550px;
      -o-background-size: 550px;
    background-size: 550px;
  }
}