.row .main-content {
  display: inline-block;
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5% 0 0 5%;
  min-height: 36em;
  padding: 3% 3% 3% 4%;
  position: absolute;
  right: 0;
  text-align: left;
  z-index: 1000;
}

.row .main-content h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.15em;
}

#bio-img{
  float: right;
  width: 30%;
  height: auto;
}

.half-com{
  width: 49%;
}

#com-info{
  float: left;
}

#com-photo{
  float:right;
}

#to-top {
  z-index: 1100;
  padding: 5%;
  float: bottom;
  width: 100%;
  text-align: center;
  opacity: 0;
  height: 0;
}

#to-top:hover, #to-top:focus, #to-top:active {
  color: white;
}